.flex-auto{
    display: flex;
    height: 83vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
   
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tfield{
    width: 40%;
    color: white;
    border-radius: 10px;
    height: 50px;
    margin: 5px;
    background-color: rgb(35, 31, 31);

}
.btn{
    /* margin-top: 10px; */
    background-color: green;
    color: white;
    height: 40px;
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.btn:hover{
   background-color: rgba(255, 255, 255, 0.1);
   color: black;
}
::placeholder{
    text-align: center;
}